/* shikimori.one - Edesign v2.8 "The Wasteland" by EngiNier | Modified by 0utSider */
/*** ENGI start code ***/

:root {
  --primary_color: dodgerblue;
  --secondary_color: deepskyblue;
  --accent_color: ;
  --background: url(https://i.ibb.co/85jT0Sz/681132-wallpapers-2560x1440-ipad.jpg);
}

body:before {
content:'';
width: 100%;
height: 100%;  
position: fixed;
top: 0;
left: 0;
z-index: 0; 
background-image: var(--background);
background-repeat:no-repeat;
background-position-x: center;
background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-attachment: fixed;
}
