@import url('https://fonts.googleapis.com/css?family=Six+Caps&display=swap');

:root {
  --font-family: "Six Caps", sans-serif !important;
  --font-main: "Six Caps", sans-serif !important;
  --font-alt: var(--font-family);
  --font-alt-text-letter-spacing: normal;
}

* {
	font-family: "Six Caps", sans-serif !important;
}

